@font-face {
  font-family: 'WorkSans';
  src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf')
    format('truetype');
}

h3 {
  font-family: 'WorkSans';
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}


hr{
  margin: 0;
}
h3:hover{
color:blueviolet;
cursor: pointer;
}

p {
  font-family: 'WorkSans';
  display: none;
}

.main-faq-background{
width: 600px;
max-height: fit-content;
background-color: white;
position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
border-radius: 3%;
padding: 0px 20px 0px 20px;
box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}


.main-faq-text{
  padding: 0px 30px 0px 30px;
}

.background-image{
  width: 100%;
  height: 40vh;
  background-image: url('./assets/images/background-pattern-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
z-index: -1;
}

body{
  background-color: #f8ebfe;
}

html, body {
  margin: 0;
  padding: 0;
}
